## Deliverable 2. Create a Customer Travel Destinations Map.

In [1]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [2]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Chapais,49.7834,-74.8492,38.98,70,100,6.38,CA,2021-10-26 23:27:31,overcast clouds
1,1,Yulara,-25.2406,130.9889,84.04,37,34,13.80,AU,2021-10-26 23:27:32,scattered clouds
2,2,East London,-33.0153,27.9116,66.90,85,94,20.42,ZA,2021-10-26 23:27:32,light rain
3,3,Mar Del Plata,-38.0023,-57.5575,62.87,69,0,4.00,AR,2021-10-26 23:27:33,clear sky
4,4,Shakawe,-18.3667,21.8500,71.87,69,72,5.19,BW,2021-10-26 23:27:33,broken clouds

In [3]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 0
What is the maximum temperature you would like for your trip? 100

In [4]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) &
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(10)

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Chapais,49.7834,-74.8492,38.98,70,100,6.38,CA,2021-10-26 23:27:31,overcast clouds
1,1,Yulara,-25.2406,130.9889,84.04,37,34,13.80,AU,2021-10-26 23:27:32,scattered clouds
2,2,East London,-33.0153,27.9116,66.90,85,94,20.42,ZA,2021-10-26 23:27:32,light rain
3,3,Mar Del Plata,-38.0023,-57.5575,62.87,69,0,4.00,AR,2021-10-26 23:27:33,clear sky
4,4,Shakawe,-18.3667,21.8500,71.87,69,72,5.19,BW,2021-10-26 23:27:33,broken clouds
5,5,Aklavik,68.2191,-135.0107,27.43,86,90,0.00,CA,2021-10-26 23:27:34,light snow
6,6,Xam Nua,20.4197,104.0439,57.67,99,95,1.97,LA,2021-10-26 23:27:34,overcast clouds
7,7,Hermanus,-34.4187,19.2345,66.90,82,100,16.64,ZA,2021-10-26 23:27:35,overcast clouds
8,8,Nanakuli,21.3906,-158.1547,86.04,51,20,12.66,US,2021-10-26 23:27:35,few clouds
9,9,Port-Gentil,-0.7193,8.7815,76.96,94,90,9.22,GA,2021-10-26 23:27:35,overcast clouds

In [5]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                672
City                   672
Lat                    672
Lng                    672
Max Temp               672
Humidity               672
Cloudiness             672
Wind Speed             672
Country                666
Date                   672
Current Description    672
dtype: int64

In [6]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
clean_df = preferred_cities_df.dropna()
clean_df

,City_ID,City,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Country,Date,Current Description
0,0,Chapais,49.7834,-74.8492,38.98,70,100,6.38,CA,2021-10-26 23:27:31,overcast clouds
1,1,Yulara,-25.2406,130.9889,84.04,37,34,13.80,AU,2021-10-26 23:27:32,scattered clouds
2,2,East London,-33.0153,27.9116,66.90,85,94,20.42,ZA,2021-10-26 23:27:32,light rain
3,3,Mar Del Plata,-38.0023,-57.5575,62.87,69,0,4.00,AR,2021-10-26 23:27:33,clear sky
4,4,Shakawe,-18.3667,21.8500,71.87,69,72,5.19,BW,2021-10-26 23:27:33,broken clouds
...,...,...,...,...,...,...,...,...,...,...,...
675,675,College,64.8569,-147.8028,31.59,92,90,0.00,US,2021-10-26 23:30:38,overcast clouds
676,676,Kattivakkam,13.2167,80.3167,78.89,75,89,9.60,IN,2021-10-26 23:32:39,overcast clouds
677,677,Puri,19.8000,85.8500,75.72,87,0,11.56,IN,2021-10-26 23:32:39,clear sky
678,678,Fomboni,-12.2800,43.7425,78.62,80,34,6.29,KM,2021-10-26 23:32:40,scattered clouds
679,679,Urucara,-2.5364,-57.7600,79.38,77,62,2.57,BR,2021-10-26 23:32:40,moderate rain

In [7]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Chapais,CA,38.98,overcast clouds,49.7834,-74.8492,
1,Yulara,AU,84.04,scattered clouds,-25.2406,130.9889,
2,East London,ZA,66.90,light rain,-33.0153,27.9116,
3,Mar Del Plata,AR,62.87,clear sky,-38.0023,-57.5575,
4,Shakawe,BW,71.87,broken clouds,-18.3667,21.8500,
5,Aklavik,CA,27.43,light snow,68.2191,-135.0107,
6,Xam Nua,LA,57.67,overcast clouds,20.4197,104.0439,
7,Hermanus,ZA,66.90,overcast clouds,-34.4187,19.2345,
8,Nanakuli,US,86.04,few clouds,21.3906,-158.1547,
9,Port-Gentil,GA,76.96,overcast clouds,-0.7193,8.7815,

In [8]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key
}

# 6b. Iterate through the hotel DataFrame.
for index, row in hotel_df.iterrows():
    
    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
        
    except (IndexError):
        print("Hotel not found...Skipping.")

Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.
Hotel not found...Skipping.

In [11]:
# 7. Drop the rows where there is no Hotel Name.
clean_hotel_df = hotel_df.loc[(hotel_df["Hotel Name"]!='')]
clean_hotel_df.head()

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Chapais,CA,38.98,overcast clouds,49.7834,-74.8492,Hôtel Opémiska
1,Yulara,AU,84.04,scattered clouds,-25.2406,130.9889,Desert Gardens Hotel - Ayers Rock Resort
2,East London,ZA,66.90,light rain,-33.0153,27.9116,Tu Casa
3,Mar Del Plata,AR,62.87,clear sky,-38.0023,-57.5575,Gran Hotel Mar del Plata
4,Shakawe,BW,71.87,broken clouds,-18.3667,21.8500,Ditlhapi Guest House

In [12]:
# 8a. Create the output File (CSV)
output_data_file = "WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [21]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel Name</dt><dd>{Hotel Name}</dd>
<dt>Current Description</dt><dd>{Current Description}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""

# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [22]:
# 11a. Add a marker layer for each city to the map. 
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))